.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.bus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #eee;

    &.active {
        .busNo {
            color: #f28621;
        }
    }
}

.busNo {
    font-size: 20px;
    font-weight: 600;
}

.stationsLeft {
    font-size: 16px;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 60px;
    background: #fafafa;
    border-bottom: 1px solid #eee;
    font-size: 18px;
    font-weight: 600;
}

.backButton {
    display: flex;
    align-items: center;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.bikeIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #007f5f;
}

.disabledIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0466c8;
}

.stationName {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
}

.noData {
    padding: 16px;
}

.busDirection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 400;
    font-size: 10px;
    color: #939393;
    margin-top: 4px;
}

.busComings {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}